---
import { getCollection } from "astro:content";
import { removeFileExtension, getPostUrlBySlug } from "../utils/url-utils";

const posts = await getCollection("posts");
---

<html>
<body>
  <h1>Post IDs and URLs</h1>
  <ul>
    {posts.map(post => (
      <li>
        ID: {post.id} <br/>
        Slug: {removeFileExtension(post.id)} <br/>
        URL: {getPostUrlBySlug(post.id)} <br/>
        <a href={getPostUrlBySlug(post.id)}>Go to Post</a>
      </li>
    ))}
  </ul>
</body>
</html>
