/* ===== 自定义 Tailwind 工具类 ===== */

@utility expand-animation {
  position: relative;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    scale: 0.85;
    z-index: -10;
    transition: all 0.15s ease-out;
  }
  &:hover::before {
    background-color: var(--btn-plain-bg-hover);
    scale: 1;
  }
  &:active::before {
    background-color: var(--btn-plain-bg-active);
  }
  &:active {
    background: none;
  }
}
